@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg_light: #BFD7FF;
    --bg_dark: #9BB1FF;
    --dark_blue: #5465FF;
}

html{
    scroll-behavior: smooth;
}

.section__padding{
    padding: 0 1rem 1.5rem 1rem;
    max-width: 450px;
}

body{
    background-color: var(--bg_light);
    font-family: 'Outfit', sans-serif;

    overflow-x: hidden;

    margin: 0;
}