
    #backtotop {
        position: fixed; /* Fixed/sticky position */
        bottom: 10px; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 9999; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        cursor: pointer; /* Add a mouse pointer on hover */
        font-size: 30px; /* Increase font size */
    
        color: #ffffff;
      }

      #backtotop:hover{
        color: #000;
      }